@model List<BlogPersonal.Models.Publicacion>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @{
                if (Model.Count > 0)
                {
                    foreach (var p in Model)
                    {
                        <div class="post-preview">
                            <a href="/Publicacion/Index/@p.Id">
                                <h2 class="post-title">
                                    @p.Titulo
                                </h2>
                                <h3 class="post-subtitle">
                                    @p.Subtitulo
                                </h3>
                            </a>
                            <p class="post-meta">
                                Publicado por
                                <a href="#">@p.Autor</a>
                                el @p.Fecha.ToLongDateString()
                            </p>
                        </div>
                        <hr>
                    }
                }
                else
                {
                    <h3>
                        Este blog aun no tiene publicaciones
                    </h3>
                }

            }

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
<hr>
